.teamMember{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 80%;
    margin-left: 10%;
}
section{
    width: 30%;
}
.teamMember img{
    border-radius: unset;
    margin-left: 5%;
    width: 280px;
    height: 250px;
}
p{
    margin-left: 5%;
}
H3{
    margin-left: 5%;
}
