.menuDiv{
    display: flex;
    background-color: #FFECCC;
    justify-content:space-evenly;
    width: 80%;
    margin-left: 10%;
}
section{
    width: 30%;
}
.menuDiv img{
    border-radius: unset;
    width: 280px;
    height: 250px;
    margin-left: 5%;
}
.menuDiv p{
    margin-left: 5%;
    color: #876128;
}
.menuDiv h3{
    color: #876128;

}
