.teamDiv{
    display: flex;
    justify-content:space-evenly;
    background-color: #BF9358;
    width: 70%;
    margin-left: 15%;
}
.teamDiv img{
    width: 200px;
    height: 200px;
    margin-left: 5px;
}