.Gallery{
     /* background-color: navy; */
    
    
}
.Image{
    /* background-image: url("https://cdn.pixabay.com/photo/2018/07/15/23/24/prague-3540890__340.jpg"); */

}
section{
    display: inline;
    justify-content: center;
    align-items: center;
}
img{
    width: 300px;
    padding: 2%;
}