* {
  margin: 0;
  padding: 0;
  background-color: gray;
  color: white;
  font-size: 28px;
}
body {
  position: relative;
  width: 50%;
  /* border: 2px solid black; */
  margin-left: 25%;
}
nav {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  font-size: larger;
  padding: 2%;
}
h1 {
  text-align: center;
  color: cadetblue;
}
p {
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70vh;
  margin-left: 10%;
  border: 4px solid yellow;
}
input {
  border-radius: 10px 40px 10px 40px;
  box-shadow: 2px 2px 2px black;
  padding: 3%;
  margin: 1%;
  /* height: 10vh; */
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
}
