* {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
}
body {
  position: relative;
  width: 30%;
  height: 95vh;
  margin-top: 1%;
  margin-left: 33%;
  border-radius: 40px;
  box-shadow: 4px 4px 4px black;
  border: 4px solid black;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
nav {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  font-size: 25px;
  padding: 2%;
}
#homeCont {
  margin-left: 2%;
}
p {
  text-align: center;
  padding: 3%;
}
h1 {
  display: flex;
  justify-content: center;
}
input {
  border-radius: 10px 40px 10px 40px;
  box-shadow: 2px 2px 2px black;
  padding: 3%;
  margin: 1%;
}
footer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40%;
}
footer img {
  width: 35px;
  height: 35px;
}
span {
  display: flex;
  justify-items: center;
  font-size: smaller;
}

/* about page style */
img {
  border-radius: 50%;
  margin-left: 20%;
  height: 230px;
  width: 230px;
  box-shadow: 4px 4px 4px black;
}
#aboutFooter {
  margin-top: 0;
}
article {
  padding: 3%;
}
/* help page style */
.questions {
  text-decoration: underline;
  font-size: 30px;
}
#helpFooter {
  margin-top: 10%;
}
/* error page style */
#errorText {
  margin-top: 30%;
}
#errorFooter {
  margin-top: 50%;
}
/* findLocation style  */
#data {
  margin-top: 5%;
}
#findFooter {
  margin-top: 10%;
}
