<a class="navBrand" href="https://www.facebook.com/" target="blank"><img
    src="https://did.li/akTfT"
    alt="facebook logo"
  /></a>
<a class="navBrand" href="https://www.whatsapp.com/?lang=en" target="blank"><img
    src="https://did.li/AvlTY"
    alt="whatsapp logo"
  /></a>
<a class="navBrand" href="https://www.instagram.com/" target="blank"><img
    src="https://did.li/g4HNf"
    alt="instagram logo"
  /></a>
<a class="navBrand" href="https://www.youtube.com/" target="blank"><img
    src="https://did.li/hoINf"
    alt="youtube logo"
  /></a>
<span>© 2021 Segedu Abe. All rights reserved</span>